@* @model GiraffeRazorSample.Person *@
@{
    Layout = "_Layout";
}

<div>
    <h3>Hello</h3>
</div>
<div>
    <h5>Hello again</h5>
    @* @{ *@
    @*     await Html.RenderPartialAsync("Partial"); *@
    @* } *@
</div>